.counterButtons__block {
    background-color: ivory;
    border-radius: 10px;
}

.counterButtons__wrapper {
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttonInc {
    padding-right: 10px;
}